/* 데스크탑 */

.Box {
  background: black;
  padding: 1rem;
  display: flex;
  width: 768px;
  margin: 0 auto;
  /* @media screen and (max-width: 1024px) { */
  /* 태블릿 */
  /* width: 100%; */
  /* } */
}
.Button {
  background: white;
  color: black;
  border-radius: 4px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 600;
}
.Button:hover {
  background: rgba(255, 255, 255, 0.9);
}
